*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    
    section {
        height: 100%;
        flex-grow: 1;
        background-color: blue;
        border: 1px solid white;
        background-size: cover;
        background-position: top;
        display: flex;
        align-items: end;
        padding-bottom: 90px;
        justify-content: center;
        border-radius: 20px;
        
        &:hover {
            flex-grow: 2;
            transition: all 0.5s linear;
        }
    }
    
    section:nth-child(1){
        background-image: url(./5e9e31bbe053461c6312464fe6ca168e.jpg);
    }
    
    section:nth-child(2){
        background-image: url(./download.png);
    }
    
    section:nth-child(3){
        background-image: url(./50c97c74bd7f4b759219435a8269f798.jpg);
    }
    
    section:nth-child(4){
        background-image: url(./aa2167ab157be217ff6e74d1206f46e8.jpg);
    }
    
    section:nth-child(5){
        background-image: url(./388bb575b1399df5064c83c04b538768.jpg);
    }
}